<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All Flights</title>
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2> Portugal Flights </h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th> Flight </th>
						<th> From/To </th>
                                                <th> Date </th>
                                                <th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${flights.empty}">
						<td colspan="2"> No Flights Available </td>
					</tr>
					<tr th:each="flight : ${flights}">
						<td><span th:text="${flight.airline}"> Flight </span></td>
                                                <td><span th:text="${flight.departureAirport}">From</span>/<span th:text="${flight.arrivalAirport}">To</span></td>
                                                <td><span th:text="${flight.departureDate}"> Date </span></td>
                                                <td><a th:href="@{delete/__${flight.id}__}" class="btn btn-danger">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>