<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
    <head>
        <title>Portugal Flights Application</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    </head>
    <body>
    	<div class="container">
    		<p>
    			<h3>Portugal Flights Application</h3>
    		</p>
    	</div>
        <div class="container">
			<a class="btn btn-info" href="#" th:href="@{/flights}"> Flights List </a>
        </div>
    </body>
</html>